@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #00000000;
  height: 100vh;
  width: 100vw;
}

span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #d9ff00;
  font-size: 74px;
  letter-spacing: 16px;
}

span:before {
  content: "LaciaMemeFrame";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    #ff00ea 2px,
    #ff00ea 4px
  );
  
  -webkit-background-clip: text;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span:after {
  content: "LaciaMemeFrame";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    #ff0000 2px,
    #ff0000 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  z-index: 2;
  transition: 1s;
}

span:after {
    content: "LaciaMemeFrame";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      #ff00aa 2px,
      #ff00aa 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    z-index: 2;
    transition: 1s;
  }

span:hover:before {
  top: 8px;
  left: 8px;
}

span:hover:after {
  top: -8px;
  left: -8px;
  text-shadow: -8px -8px #318fb5;
}

#video-bg {
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background: url(https://raw.githubusercontent.com/LaciaMemeFrame/laciamemeframe.space/master/anime.png) no-repeat #000000;
  background-size: cover;
}

#video-bg > video {
  position: static;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto; 
}

@supports (object-fit: cover) {
  #video-bg > video {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}
